a{
  text-decoration: none;
}

.signupbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signupbody h1{
  padding: 15px;
}
.signupbody p{
  font-size: 16px;
  color: gray;
}
.formcont2{
  width: 400px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lab2{
  font-size: 12px;
  font-weight: 500;
}
.in{
  padding: 15px;
  border-radius: 8px;
  width: 100%;
}
.a{
  border: solid 1px #0f973d;
}
.b{
  border: solid 1px #cfcfcf;
}
.mailbox{
  position: relative;
  display: flex;
}
.mail{
  position: absolute;
  right: 20px;
  top: 15px;
}
.pass{
  display: flex;
  position: relative;
}
.eye{
  position: absolute;
  right: 20px;
  top: 15px;
}
.unsee{
  position: absolute;
  display: none;
}
.unsee.is-vivible{
  display: block;
}
.see.not-visible{
  display: none;
}
.check{
  width: 18px;
  height: 18px;
  border: solid 1px lightgray;
  border-radius: 8px;
}
.boxcont{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.boxcont p{
  font-size: 14px;
  font-weight: 400;
}
.forgot{
  position: relative;
  right: -40px;
  font-size: 14px;
  font-weight: 500;
  color: #202020;
}
.login{
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: black;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.login:active{
  background-color: #353434;
  transition: all 0.5s;
}
.err{
  font-size: 12px;
  color: red;
}
.errorpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85VH;
}
.text{
  width: auto;
  font-size: 16px;
  font-weight: 500;
}
.errorcontent{
  width: 100%;
  padding:10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.errorimage{
  width: 400px;
  border-radius: 20px;
  animation: error 2s ease-in infinite alternate-reverse;
  position: relative;
}

@keyframes error {
  0%{top: -15px}
  25%{bottom: 15px;}
  100%{top: 0px;}
}

.errorimage img{
  width: 100%;
}