.changepasswordmodal{
  width: 90%;
  height: 100%;
  position: absolute;
  top: -3%;
  left: 5%;
  display: flex;
  justify-content: center;
}
.changeps{
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
  border-radius: 20px;
  z-index: 10;
  position: relative;
}
.changeps form{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.overlay{
  width:100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 30%;
  display: block;
}
.not-active{
  display: none;
  transform: scale(0.6);
  transition: all ease-in-out 0.3s;
}
.eye2{
  position: absolute;
  right: 20px;
  top: 15px;
}
.unsee2{
  position: absolute;
  display: none;
}
.unsee2.is-vivible{
  display: block;
}
.see2.not-visible{
  display: none;
}
.err2{
  font-size: 12px;
  color: red;
}
.pass2{
  display: flex;
  position: relative;
}
.chpswbutt{
  padding: 20px;
  border-radius: 8px;
  color: #ffff;
  background-color: black;
  border: none;
}
.closechpsw{
  position: absolute;
  right: 20px;
  top: 20px;
  color: red;
  cursor: pointer;
}