.menu{
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.menusec2{
  width: 100%;
  display: flex;
  height: 100%;
  gap: 10px;
}
.menubox{
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  max-height: 550px;
  height: 520px;
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.firstsec{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.firstsec button{
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.cusineTitle{
  padding-top: 20px;
}

.menubox .cusineTitle ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 12px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 5px;
}


.secondsec{
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: auto;
  scrollbar-width: 5px;
}


@media screen and (max-width: 699px){
  .menusec2{
    padding: 20px 0;

  }
  .menubox{
    margin-top: 10px;
    height: 100%;
  }
  .cusineTitle{
    overflow-x: auto;
  }
 .menubox .cusineTitle ul{
  width: 500px;
 }
.cusineBody{
  overflow: auto;
}
 .cusineBody ul {
  width: 500px;
 }
}




