.shop{
  position: relative;
}
.noshdiv{
  position: relative;
}
.shopSec1{
  padding: 20px;
}
.shopSec2a{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.empty{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createShopBtn{
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.createShopBtn:hover{
  background-color: rgb(44, 44, 44);
  transition: ease-in-out 0.3s;
}
.createShopBtn:active{
  background-color: black;
}
.shopCreatedfirstdiv{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.editshop{
  padding: 10px 25px;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


.shopProfile{
  width: 100%;
}


.shopSec2b{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  padding: 20px;
}


.shoppfsec1{
  width: 100%;
}


.coverImage{
  width: 100%;
  height: 250px;
  background-color: lightgray;
  border-radius: 20px;
}

.coverImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.shoppfsec2{
  position: relative;
  display: flex;
  align-items: center;
}


.shopProfileDpHolder{
  top: -40px;
  position: absolute;
}


.shopProf{
  width: 100%;
}

.ShopProfileDp{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 3px rgb(239, 239, 239);
  overflow: hidden;
}


.customcheckbox{
  font-size: 40px;
  position: absolute;
  left: 100px;
  bottom: 0;
}



.ShopProfileDp img{
  width: 150px;
  height: 150px;
}


.shopDetails{
  padding-left: 170px;
  padding-top: 30px;
}


.shopDetails .desc{
  padding: 10px 0;
}

.shopDetails h2{
  font-size: 25px;
}


.shopDetailsSec2{
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.shopType div{
  display: flex;
  gap: 10px;
}

.shopAddress{
  display: flex;
  align-items: center;
}

.shopAddress ul{
  display: flex;
  align-items: center;
  gap: ;
}