@font-face {
  font-family: "Sherika";   /*Can be any text*/
  src: local("Sherika"),
    url("./fonts/Sherika\ Black.ttf") format("truetype");
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap'); */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  text-decoration: none;
}

                